
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img style="left: 0%" width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<router-outlet></router-outlet>


<div class="container">    
  <form [formGroup]="formChat" (ngSubmit)="sendMessage(target)">
      <div class="form-group shadow-none p-3 mb-5 bg-light rounded" 
           style="height: 400px; overflow-y: auto; overflow-x: hidden;">
        <!-- Chat -->
        <div class="row" 
            *ngFor="let msg of array_messages">
            <p class="col-5 ml-3 
                      shadow-sm p-3 mb-5 bg-white rounded 
                      rounded-right text-break align-self-start" 
              *ngIf="msg.idUser != currentUser"><strong>{{ msg.name }}:</strong>
              {{ msg.content }}</p>
    
            <p class="col-5 mr-3 
                      rounded-left text-break 
                      shadow-sm p-3 mb-5 bg-white rounded
                      align-self-end ml-auto" 
              *ngIf="msg.idUser == currentUser"><strong>{{ msg.name }}:</strong>
              {{ msg.content }}</p>
        </div>
        <!-- /Chat -->

      </div>
      <div class="row">
        <input type="email" 
               formControlName="message" 
               class="col-9 border border-dark m-2 p-1 rounded position_chat"
               id="exampleInputEmail1" 
               placeholder="Mensaje">

        <button type="submit"  
                class="btn btn-outline-dark my-2 col-2">Enviar</button>
      </div>
    </form>
</div>